@model Grup22.Models.fact_User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>fact_User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fact_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fact_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fact_Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fact_Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fact_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fact_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fact_Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fact_Adress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.fact_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
